<a href="https://colab.research.google.com/github/KadimelllaAnushaRaju/machineLearning/blob/main/02_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
cd '/content/drive/MyDrive/02_EDA/student'

/content/drive/MyDrive/02_EDA/student

In [5]:
ls

student-mat.csv  student-merge.R  student-por.csv  student.txt

In [6]:
import pandas as pd #working with csv or excel files
import numpy as np #working with numbers/ arrays/ tensors
import tensorflow as tf #framework
from tensorflow import keras #API / library 
import os #using os commands between the python language

In [9]:
mathData = pd.read_csv('student-mat.csv', sep=';')

In [10]:
mathData.head(10) #print the first ten rows of the dataframe

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7     GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8     GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9     GP   M   15       U     GT3       T  ...     1       5        0  14  15  15

[10 rows x 33 columns]

#Data Processing
Categorical to numeric value conversion

In [12]:
#unique classes/categories in every column 
#variable.coloumn.unique()-->all{coloumn}values from the {variable} dataframe and print out unique ones

print(f'school: {mathData.school.unique()}')
print(f'sex: {mathData.sex.unique()}')
print(f'address: {mathData.address.unique()}')
print(f'Mjob: {mathData.Mjob.unique()}')
print(f'Fjob: {mathData.Fjob.unique()}')
print(f'higher: {mathData.higher.unique()}')

school: ['GP' 'MS']
sex: ['F' 'M']
address: ['U' 'R']
Mjob: ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: ['teacher' 'other' 'services' 'health' 'at_home']
higher: ['yes' 'no']

considering the

In [ ]:
#convert the categories into numbers 

#binary valued
mathData['school'] = mathData['school'].apply({'GP':1, 'MS':0}.get)
mathData['sex'] = mathData['sex'].apply({'F':1, 'M':0}.get)
mathData['address'] = mathData['address'].apply({'U':1, 'R':0}.get)
mathData['higher'] = mathData['higher'].apply({'yes':1, 'no':0}.get)


#multi-valued
mathData['Mjob'] = mathData['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
mathData['Fjob'] = mathData['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)

mathData.head(15)